
ul {
  margin-left: 15px;
}

ul li {
list-style-type: circle;
}

ul ul {
  margin-left: 15px;
}

.menu-wrapper {
//margin-left: 25px;
//border-style: solid;
width: 300px;
display: inline-block;
vertical-align: top;
margin-left: 45px;
margin-right: 5px;
margin-top: 10px;
}

.content-wrapper {
  max-width: 700px;
  display: flex;
  justify-content: center;
}